
@*@model List<Sinav>
@using SinavOlusturmaWeb.Models*@

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Index.cshtml";
}

<h1>Index</h1>
@*<div>
    <table>
        </tr>
        @foreach (var x in Model)
        {
            <tr>
                <td>@x.Baslik</td>*@
                @*<td>@x.Kullanici</td>
                <td>@x.Sifre</td>*@

            @*</tr>
        }
    </table>*@
@*</div>*@

